# Projenize özel ayarları bu dosyadan kopyalayarak ".env" dosyasına yapıştırın.
GEMINI_API_KEY=BURAYA_KENDI_API_KEYINIZI_GIRIN

# Dizin Yolları
INPUT_DIR=data/input
OUTPUT_DIR=data/output

# Tercih edilen Model
MODEL_NAME=gemini-2.5-flash

DATABASE_URL=sqlite+aiosqlite:///data/saas_db.sqlite
